@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--primaryColor: #c2e7d9;
	--secondaryColor: #209cee;
	--mainDark: #0f084b;
	--mainWhite: #fff;
	--mainGrey: #f1f2f6;
	--mainTransition: all 0.3s ease-in-out;
	--letterSpacing: 0.5rem;
}
#root {
	background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

h3 {
	color: var(--secondaryColor);
	font-family: "Patrick Hand", cursive;
}
h5 {
	font-family: "Patrick Hand", cursive;
}

/* ----------------------------------- */

@keyframes bounced {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.5);
	}
	100% {
		transform: scale(1);
	}
}

/* Header with background image */
header {
	padding: 16px 32px;
	background-image: url("./images/laptop1.jpg");
	background-color: rgba(1, 1, 1, 1);

	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 0;
	margin-top: 0;
}
/* Title with description  */

/* hr */
.line {
	border-top: 2px solid #fad02c;
	box-shadow: 2px 5px #00000010;
	width: 250px;
}
/* ---------------------------- */
/* content line color divider */
.content-divider {
	height: 0.5rem;
	background: linear-gradient(
		to left,
		var(--primaryColor),
		#fad02c,
		var(--secondaryColor),
		var(--primaryColor)
	);
}
/* end of content line color divider */

/* Profil section */

#bandeau {
	background-image: url("./images/laptop1.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	height: 150px;
	color: white;
	font-size: 25px;
}
#quote {
	color: var(--mainWhite);
	font-family: "Patrick Hand", cursive;
}
#profil-img {
	border: 3px solid #fad02c;
	border-radius: 800px;
}
/* End of profil section */

/* espaceur */
#espaceur {
	height: 30px;
}
/* end of espaceur */

/* formation section */
section #formation {
	background-color: var(--mainWhite);
}
#dateF {
	color: var(--primaryColor);
}
/* end of formation section */

/* end of competence */

/*------realisation section ---------*/

.realisation-picture {
	/* width: 100%;
	display: block; */
	transition: var(--mainTransition);
}
.realisation-container:hover .realisation-picture {
	opacity: 0.7;
	transform: scale(1.1);
}

.icon-realisation {
	font-size: 40px;
}
/* end of realisation section */

/* contact section  */

.contact-icon {
	display: flex;
	font-size: 15px;
}

/* end of contact section  */

/* Footer section */
footer {
	background-color: black;
	color: var(--secondaryColor);
	margin: 0;
	padding: 0;
	margin-bottom: 0;
	position: relative;
}
