* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* Navbar with icons */
#icon {
	display: flex;
	justify-content: space-between;
}
/* Jumbotron with background image */
header {
	margin: auto -16px;
	padding: 16px 32px;
	background-image: url("./images/lucas1.jpg");
	background-color: rgba(0, 0, 0, 0.6);
	height: 50vh;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding-top: 0;
	margin-top: 0;
}
/* Title with description  */
#title {
	text-align: center;
	width: 100%;
	color: white;
	font-size: 50px;
	margin-top: 25vh;
}
/* hr */
.line {
	border-top: 1px solid rgba(255, 255, 255, 0.726);
	box-shadow: 2px 5px #00000010;
	width: 250px;
	margin-left: 40vw;
}

/* Profil section */
/*---------------*/
/***** EFFECT *****/
/*---------------*/

figure.effect {
	background: #22a39f;
	color: #fff;
}

figure.effect img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect:hover img {
	opacity: 0.2;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect figcaption {
	text-align: left;
}

figure.effect h3 {
	position: relative;
	overflow: hidden;
	padding-bottom: 20px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect:hover h3 {
	opacity: 1;
}

figure.effect h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: "";
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}

figure.effect:hover h3::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

figure.effect p {
	padding-top: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

figure.effect:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.icon {
	background: #22a39f;
	position: absolute;
	top: 0px;
	right: 15px;
	width: 48px;
	height: 48px;
}
.icon span {
	font-size: 18px;
	line-height: 18px;
	padding: 15px;
}

/* maps */
iframe {
	border-radius: 10px;
	border: 5px solid orange;
}

/* Footer */
footer {
	background-color: black;
	color: white;
}
